<%= render 'pages/home' unless user_signed_in? %>

<h1 id="Current" class="page-header">Current Bills</h1>
<div id="bills" class="transitions-enabled">
  <% @bills.each do |bill| %>
    <div class="billcontainer panel panel-default">
      <p>
        <%= link_to image_tag(bill.cover.url(:medium)), bill %>
        <strong>Title:</strong> <%= bill.title %>
      </p>
      <p>
        <strong>Category:</strong>  <%= bill.category %>
      </p>
      <p>
        <strong>Summary:</strong> <%= bill.summary %>
      </p>
      <p>
        <strong>Legislation:</strong>  <%= bill.description %>
      </p>
      <div class = "Votes">
        Current Score: <%= bill.score %> <br>
        For: <%= bill.for %> <br>
        Against: <%= bill.against %>
      </div>
      <% if user_signed_in? %>
        <div class="actions">
          <%= link_to "Yes", for_bill_path(bill), method: :put %>
          <%= link_to "No", against_bill_path(bill), method: :put %>
          <p>
            <%= link_to 'Edit', edit_bill_path(bill) %> 
            <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %> <- Only Admin sees
          </p>
        </div>
      <% else %>
        <%= link_to "Log in to Vote", new_user_session_path %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>