<%= render 'pages/home' unless user_signed_in? %>

<div id="bills" class="transitions-enabled">
  <% @bills.each do |bill| %>
    <div class="billcontainer panel panel-default">
      <%= link_to image_tag(bill.cover.url(:medium)), bill %>
      Title: <%= bill.title %>
      <br>
      Category: <%= bill.category %>
      <br>
      Summary: <%= bill.summary %>
      <br>
      Legislation: <%= bill.description %>
      <div class="actions">
        <%= link_to 'Edit', edit_bill_path(bill) %>
        <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>