<div id="bills" class="transitions-enabled">
  <% @bills.each do |bill| %>
    <div class="billcontainer panel panel-default">
      <%= image_tag bill.cover.url(:medium) %>
      Title: <%= bill.title %>
      <br>
      Category: <%= bill.category %>
      <br>
      Summary: <%= bill.summary %>
      <br>
      Legislation: <%= bill.description %>
      <br>
      <%= link_to 'Show', bill %>
      <%= link_to 'Edit', edit_bill_path(bill) %>
      <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>